#stream-graph-container {
	margin-top: 20px;
}

#artist-chart-container {
	font-size: 14px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}
