#stream-graph {
	position: relative;
	margin-top: 20px;
	font-size: 14px;
	font-weight: bold;
	height: 400px;
}

#stream-tooltip {
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0 0 3px WhiteSmoke, 0 0 3px WhiteSmoke;
	z-index: 20;
}

.stream-info {
	font-size: 11px;
}

#artist-chart {
	font-size: 14px;
	height: 300px;
}

#artist-tooltip {
	display: none;
	position: absolute;
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 12px;
	font-family: "Georgia", "Times", serif;
	font-size: 16px;
	text-shadow: 0 0 3px WhiteSmoke, 0 0 3px WhiteSmoke;
	background: white;
}

#control .ink-button {
	font-size: 12px;
	margin-left: 0;
}

.submenu {
	min-width: 250px;
}

.select2-container, .select2-drop {
	font-size: 12px;
}

.select2-results {
	max-height: 300px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}
